
@model IEnumerable<WebCommercial.Models.Metier.Clientel>

@{
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

@if (Model != null)
{
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="row blanc">
                <h1>Liste des clients </h1>
            </div>

            <hr />

            <div class="row form-group">
                <div class="col-md-4 col-sm-4">
                    @Html.ActionLink("Ajouter des clients", "Ajout", "Client", new { @class = "btn btn-default btn-success" })
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>N° client</th>
                            <th>Nom société</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th style="width:80px">Modifier</th>
                            <th style="width:80px">Supprimer</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
        {
            @Html.Partial("TableRowClient", item)
}

                </table>
            </div>

        </div>
    </div>
}
