<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    17 Boulevard André Latarjet<br />
    69100, Villeurbanne<br />
    <abbr title="Téléphone">Tel:</abbr>
    04.50.72.63.15
</address>

<address>
    <strong>Support :</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing :</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>