

@{
    Layout = Layout = "~/Views/Shared/_LayoutCommercial.cshtml";

}
<h1>@ViewBag.Title</h1>
<div>
    <p>
        Bienvenue dans le monde MVC  <span style="color:red">@ViewBag.Nom</span>
    </p>
</div>
