
<div class="modal fade" id="commandeDetailsModal" tabindex="-1" role="dialog" aria-labelledby="commandeDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="commandeDetailsModalLabel">Titre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6"><strong>Commande N°<span id="noCmde"></span></strong></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><strong>Passée le : </strong><span id="dateCmde"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><strong>Montant total : </strong><span id="montantTotalCmde"></span>€</div>
                    </div>

                    <hr />

                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>N° article</th>
                                <th>Libelle</th>
                                <th>Prix unitaire (€)</th>
                                <th>Quantité commandée</th>
                                <th>Montant total (€)</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>